@model IEnumerable<InternalAuditSystem.Models.EntityModels.Standarts>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Стандарты";
    ViewBag.Pagetitle = "Стандарты";
}


<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Сотрудники</title>
    <!-- vendor css -->
    <link href="../../Scripts/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../../Scripts/lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="../../Scripts/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="../../Scripts/lib/highlightjs/github.css" rel="stylesheet">
    <link rel="stylesheet" href="../../Content/katniss.css">
</head>

<body>
    <div class="kt-breadcrumb">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" href="../News/Index">Главная страница</a>
            <span class="breadcrumb-item active">@ViewBag.Pagetitle</span>
        </nav>
    </div><!-- kt-breadcrumb -->
    <div class="kt-mainpanel">
        <div class="kt-pagetitle">
            <h5>Стандарты</h5>
        </div>
        <div class="kt-pagebody">
            <div class="card pd-20 pd-sm-40">
                <p class="mg-b-20 mg-sm-b-30">Список доступных стандартов и гостов.</p>
                <a href="../Standarts/Create" style="font-size: 24px"><i class="icon ion-ios-plus-outline"></i></a>
                <div id="accordion" class="accordion" role="tablist" aria-multiselectable="true">
                    @foreach (var item in Model)
                    {
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <h6 class="mg-b-0">
                                    <a class="collapsed transition" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        @Html.DisplayFor(modelItem => item.StandartId), @Html.DisplayFor(modelItem => item.StandartName)
                                    </a>
                                </h6>
                            </div><!-- card-header -->
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body">
                                    @Html.DisplayFor(modelItem => item.StandartDescription) \n
                                    Загрузить файл: @Html.DisplayFor(modelItem => item.StandartFile)
                                    @Html.ActionLink("Изменить", "Edit", new { id = item.StandartId })
                                    @Html.ActionLink("Удалить", "Delete", new { id = item.StandartId })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="kt-footer">
            <span> &copy; TPU - 2018 </span>
        </div><!-- kt-footer -->
    </div>


    <script src="../../Scripts/lib/jquery/jquery.js"></script>
    <script src="../../Scripts/lib/popper.js/popper.js"></script>
    <script src="../../Scripts/lib/bootstrap/bootstrap.js"></script>
    <script src="../../Scripts/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="../../Scripts/lib/moment/moment.js"></script>
    <script src="../../Scripts/lib/highlightjs/highlight.pack.js"></script>
    <script src="../../Scripts/js/katniss.js"></script> 
    
</body>
</html>
