@model IEnumerable<AuditControlSystem.Models.Standart>

@{
    ViewBag.Title = "Стандарты";
}

<h2>Стандарты</h2>

<p>
    @Html.ActionLink("Добавить стандарт", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StandartName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StandartDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StandartFileName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StandartName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StandartDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StandartFileName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StandartId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StandartId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StandartId })
        </td>
    </tr>
}

</table>
