@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>@ViewBag.Title</title>
        <!-- vendor css -->
        <link href="../../Katniss/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="../../Katniss/lib/Ionicons/css/ionicons.css" rel="stylesheet">
        <link href="../../Katniss/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
        <link href="../../Katniss/lib/highlightjs/github.css" rel="stylesheet">
        <link rel="stylesheet" href="../../Content/katniss.css">
    </head>

    <body>
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()            
            @Html.ActionLink("Здравствуйте, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }) 
            <a> | </a>
            <a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>                
        }
    }
    else
    {
            @Html.ActionLink("Регистрация ", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
            <a> | </a>
            @Html.ActionLink(" Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })                
    }
    </body>
</html>
