@model IEnumerable<InternalAuditSystem.Models.EntityModels.ApplicationsView>

@{
    /**/


    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Главная страница";
    ViewBag.Pagetitle = "Заявки";
}

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title</title>
    <!-- vendor css -->
    <link href="../../Scripts/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../../Scripts/lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="../../Scripts/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="../../Scripts/lib/highlightjs/github.css" rel="stylesheet">
    <link href="../../Scripts/lib/datatables/jquery.dataTables.css" rel="stylesheet">
    <link href="../../Scripts/lib/select2/css/select2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../Content/katniss.css">
</head>

<body>
    <div class="kt-breadcrumb">
        <nav class="breadcrumb">
            <span class="breadcrumb-item active">Главная страница</span>
        </nav>
    </div><!-- kt-breadcrumb -->
    <div class="kt-mainpanel">
        <div class="kt-pagetitle">
            <h5>@ViewBag.Pagetitle</h5>
        </div> @*kt-pagetitle*@
        <div class="kt-pagebody">
            <div class="card pd-20 pd-sm-40">
                <p class="mg-b-20 mg-sm-b-30">Заявки всех пользователей.</p>

                <div class="table-wrapper">
                    <div class="dataTables_length" id="datatable1_length">

                        <table id="datatable1" class="table display responsive nowrap">
                            <thead>
                                <tr>
                                    <th class="wd-10p">Дата</th>
                                    <th class="wd-30p">ФИО заявителя</th>
                                    <th class="wd-15p">Стандарт</th>
                                    <th class="wd-20p">Комментарий</th>
                                    <th class="wd-10p">Файл</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ApplicationDateTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserLastName)
                                            @Html.DisplayFor(modelItem => item.UserName)
                                            @Html.DisplayFor(modelItem => item.UserMiddleName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StandartName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ApplicationContent)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ApplicationFile)
                                        </td>                        
                                        <td>
                                            @Html.ActionLink("Заявки", "Details", new { id=item.ApplicationId })
                                        </td>
                                        <td>
                                            @Html.ActionLink("Удалить", "Delete", new { id=item.ApplicationId })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div><!-- row -->
            </div><!-- card -->
        </div>
        <div class="kt-footer">
            <span> &copy; TPU - @DateTime.Now.Year </span>
        </div><!-- kt-footer -->
    </div>

    <script src="../../Scripts/lib/jquery/jquery.js"></script>
    <script src="../../Scripts/lib/popper.js/popper.js"></script>
    <script src="../../Scripts/lib/bootstrap/bootstrap.js"></script>
    <script src="../../Scripts/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="../../Scripts/lib/moment/moment.js"></script>
    <script src="../../Scripts/lib/highlightjs/highlight.pack.js"></script>
    <script src="../../Scripts/lib/datatables/jquery.dataTables.js"></script>
    <script src="../../Scripts/lib/datatables-responsive/dataTables.responsive.js"></script>
    <script src="../../Scripts/lib/select2/js/select2.min.js"></script>
    <script src="../../Scripts/js/katniss.js"></script>

    <script>
        $('#datatable1').DataTable({
            responsive: true,
            language: {
                searchPlaceholder: 'Фильтр...',
                sSearch: '',
                lengthMenu: '_MENU_ строк/страница',
            }
        });
    </script>
</body>
</html>
