@model IEnumerable<InternalAuditSystem.Models.EntityModels.Sertificates>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Standarts.StandartName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subdivisions.SubdivisionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SertificateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SertificateShelfLife)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Standarts.StandartName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subdivisions.SubdivisionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SertificateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SertificateShelfLife)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SertificateId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SertificateId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SertificateId })
        </td>
    </tr>
}

</table>
